body, html {
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #4C1C64;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #000000, #4C1C64);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #000000, #4C1C64); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.title {
    padding-top: 5%;
    color: white;
}

.row { 
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}
p {
    color: #FCFEF1;
}

.row > a{
    margin: 1em; 
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    padding: 1em 0;
    background-color: #FCFEF1;
    text-align: center;
    /*border: .15em solid #FCFEF1;*/
    color: #222491;
    font-size: 1.5em;
}